<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/headTag') -%>
</head>
<body>
    <%- include('./components/navbar') -%>

    <div class="container mt-2">
        <a href="/" class="btn btn-primary fw-bold">&larr; Back</a>
    </div>
     
    <div class="container mt-5">
        <div class="container mt-5 text-center text-light fw-30 p-2" style="background-color: #241571;">
            <h3>All Transactions</h3>
        </div>

        <table class="table mt-2">
            <thead class="text-light" style="background-color: #241571;">
                <tr>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <% if (data.length > 0) { %>
                    <% data.forEach((e) => { %>
                        <tr>
                            <td><%= e.sEmail %></td>
                            <td><%= e.rEmail %></td>
                            <td><%= e.amount %></td>
                            <td><%= e.date %></td>
                            <td>
                                <a href="/remove/<%= e._id %>" class="btn btn-danger">
                                    <i class="fa fa-minus"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>        
                <% } else { %>
                  <div class="mt-2">
                    <tr class="bg-warning text-light ">
                        <td colspan="5">
                            No records found!
                        </td>
                    </tr>
                  </div>
                <% } %>   
            </tbody>
        </table>
    </div>

    <%- include('./components/bootstrapScript') -%>
</body>
</html>
