<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/headTag') -%>
</head>
<body>
    <%- include('./components/navbar') -%>

    <div class="container mt-2">
        <a href="/" class="btn btn-primary fw-bold">&larr; Back</a>
    </div>

    <div class="container mt-5">
        <div class="container mt-5 text-center text-light fw-30 p-2" style="background-color: #241571;">
            <h3>View All Customers</h3>
        </div>

        <% if (data.length > 0) { %>
            <table class="table mt-2">
                <thead class="text-light" style="background-color: #241571;">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Action</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((e) => { %>
                        <tr>
                            <td><%= e.name %></td>
                            <td><%= e.email %></td>
                            <td><%= e.contact %></td>
                            <td><%= e.amount %></td>
                            <td>
                                <a href="/view/<%= e._id %>" class="btn btn-primary">
                                    <span style="color: white;">View & Transfer</span>
                                </a>
                            </td>
                            <td>
                                <a href="/delete/<%= e._id %>" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <div class="alert alert-warning text-center" role="alert">
                No records found!
            </div>
        <% } %>
    </div>

    <%- include('./components/bootstrapScript') -%>
</body>
</html>
